/*select all with 0 margin and 0 padding*/
* {
    margin: 0;
    padding: 0;
}

/*navbar*/
.navbar-light {
    text-transform: uppercase;
    height: 80px;
    margin-bottom: 0;
}

/*logo*/
.logo {
    margin-top: 15px;
    width: 40%;
}

/*customer login*/
.login {
    margin-top: 8px;
    height: 55px;
}

.glyphicon glyphicon-user {
    text-align: right;
}

@media (max-width: 768px) {
    .logo {
        max-width: 50px;
        height: auto;
    }
}

/*body background*/
body {
    background-color: blanchedalmond;
}

.form-control {
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
}

/*sortby features*/
.sortby {
    float: right;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #f1f1f1;
}

#title{
    font-size:30px;
}

#money {
    display: inline-block;
    float: left;
    font-size: 30px;
}

#price {
    display: inline-block;
    font-size: 30px;
}

#description{
    font-size: 17px; 
    margin-top: 20px; 
    margin-bottom: 15px;
}
/* item amount input box  */
#itemcnt {
    margin-top: 40px; 
    margin-bottom: 20px;
    border-radius: 5px; 
}
/* the add and minus button style  */
#sub, #plus{
    border:none;
    font-size: 25px;
    width:55px;
    background-color: #ddbea9;
    border-radius: 5px; 
}
/* add to cart and view cart button  */
.btn-secondary{
    color: white; 
    background-color:#ddbea9;
    border-radius: 5px; 
    width: 100px;
}
.inputNum{
    border: none;
    font-size: 25px;
    width:84px;
}
/* total price box  */
#tPrice{
    width:210px; 
    height:35px; 
    border:none;
    border-radius: 5px; 
    font-size:20px;
}
/*images*/
.card img {
    width: 60%;
}
/*for footer*/
footer {
    margin-top: 80px;
    background: #ddbea9;
    height: 230px;
    width: 103%;
    border-top: 1px solid #DDDDDD;
}

.footer p {
    margin: 0;
}

.footer img {
    max-width: 10%;
}

.footer h3 {
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 0px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.footer h4 {
    color: white;
    font-size: 2em;
    font-weight: 600;
    line-height: 38px;
    padding: 40px 0 10px;
    font-family: cursive;
    font-weight: lighter;
}

.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0px;
    color: white;
    padding: 0 0 8px 0;
}


.footer ul li a {
    padding: 8px 0 2px 0;
    display: block;
}

.footer a {
    color: white;
    font-weight: lighter;
}

.footer p {
    color: white;
    font-weight: lighter;
}

.footer a: hover {
    font-weight: bold;
}

.bg-gray {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}

.footer a {
    width: 200px;
    margin-left: 100px;
    color: white;
}
